# Environment variables
.env
.env.local
.env.example
node_modules/
frontend/node_modules/
.env.development.local
.env.production.local

# Dependencies
node_modules/

# Build files
dist/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code settings (optional)
.vscode/

# Coverage
coverage/